hr
footer
    p.pull-right
        a(href='#') Back to top
    div(itemscope itemtype='http://schema.org/Organization')
        p
            | © 2017 
            span(itemprop='name legalName') #{h.siteName} Ltd.
            div(itemprop='address' itemscope itemtype='http://schema.org/PostalAddress')
                span(itemprop='streetAddress') Ballyda
                |, 
                span(itemprop='addressLocality') Danesfort
                |, 
                span(itemprop='addressRegion') Co. Kilkenny
                |, 
                span(itemprop='postalCode') R95 CC92
                |, 
                span(itemprop='addressCountry') Ireland
            p
                | Phone us:
                span(itemprop='telephone') 
                    a(href="tel:+353876341300") 087 634 1300
                |  · 
                | Email us: 
                span(itemprop='email') 
                    a(href="mailto:info@groganburners.ie") info@groganburners.ie
            a(href='https://www.groganburners.ie/' itemprop='url') www.groganburners.ie 
            |  - Find us on: 
            a(href="https://www.facebook.com/groganburners") Facebook
            |  & 
            a(href="https://www.twitter.com/groganburners") Twitter
            p
                | Company Reg No: 451657 
                | · VAT No: 
                span(itemprop='vatID') IE 9675520W
                