hr
footer
    p.pull-right
        a(href='#') Back to top
    div(itemscope itemtype='http://schema.org/Organization')
        p
            | © 2017 
            span(itemprop='name') Grogan Burner Services Ltd.
            div(itemprop='address' itemscope itemtype='http://schema.org/PostalAddress')
                span(itemprop='streetAddress') Ballyda
                |, 
                span(itemprop='addressLocality') Danesfort
                |, 
                span(itemprop='addressRegion') Co. Kilkenny, Ireland
            p
                | Phone us: 
                span(itemprop='telephone') 087 634 1300
            a(href='http://www.groganburners.ie/' itemprop='url') www.groganburners.ie
            p
                | Company Reg No: 451657 · VAT No: IE 9675520W 