if info && info.length
  for inf in info
   alert-x-info(inf)

if errors && errors.length
  for err in errors
   alert-x-danger(err)

if success && success.length
  for succ in success
   alert-x-success(succ)

if warning && warning.length
  for warn in warning
   alert-x-warning(warn)