+navbar()
  +nav_item('/', true) Home
  +nav_item('/#gas', false) Gas Services
  +nav_item('/#oil', false) Oil Services
  +nav_item('/#repair', false) Boiler Repair
  +nav_item('/#contact', false) Contact Us
  +nav_item('/#about', false) About Us