extends base
append styles
  // Custom styles for this template
  link(href='/static/stylesheets/font-awesome.min.css', rel='stylesheet')
block nav
  +navbar(true)
    +nav_item('/', true) Home
    +nav_item('/customers', false) Customers