extends base
include ../components/tables
append styles
  // Custom styles for this template
  link(href='/static/stylesheets/font-awesome.min.css', rel='stylesheet')
  style
    include ../../public/stylesheets/admin.css
block nav
  +navbar(true)
    each item in h.adminMenu
      +nav_item(item.slug, true) #{item.title}
append scripts
  script
    include ../../public/javascripts/admin.js