include ../components/alerts
include ../components/buttons
include ../components/carousel
include ../components/images
include ../components/navbar
include ../components/tables
doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
			meta(name="description",content="Oil & Gas Burner/Boiler Servicing in Kilkenny. Family owned and run.")
			meta(name="author",content="Neil Grogan")
			link(rel="icon",href="/static/images/favicon.ico")
			title= title
			block styles
				style
					include ../../node_modules/bootstrap/dist/css/bootstrap.min.css
					include ../../public/stylesheets/base.css
	body
		.container
			+navbar()
				+nav_item('/', true) Home
				+nav_item('/#gas', false) Gas Services
				+nav_item('/#oil', false) Oil Services
				+nav_item('/#repair', false) Boiler Repair
				+nav_item('/#contact', false) Contact Us
				+nav_item('/#about', false) About Us
			.messages
				include ../includes/messages
			block body
			include ../includes/footer
		block scripts
			script
				include ../../public/javascripts/jquery.slim.min.js
				include ../../public/javascripts/tether.min.js 
				include ../../public/javascripts/bootstrap.min.js
				include ../../public/javascripts/base.js