//- bootstrap.jade
//- bootstrap mixins


//- Including Icon mixins
include ../comps/icons
//- Including Alert mixins
include ../comps/alerts
//- Including Tooltip mixins
include ../comps/tooltips
//- Including Accordion mixins
include ../comps/accordion
//- Including Carousel mixins
include ../comps/carousel
//- Including Table mixins
include ../comps/tables
//- Including Navbar mixins
include ../comps/navbar
//- Including Toggle Button mixins
include ../comps/toggle
//- Including Nav mixins
include ../comps/navs
//- Including Label mixins
include ../comps/labels
//- Including Panel mixins
include ../comps/panels
//- Including Tab mixins
include ../comps/tabs
//- Including Dropdown mixins
include ../comps/dropdowns
//- Including Form control mixins
include ../comps/forms
//- Including Modal dialog mixins
include ../comps/modal
//- Including List group mixins
include ../comps/list-groups
//- Including Progress bar mixins
include ../comps/progress-bars
//- Including Button mixins
include ../comps/buttons
//- Including Image mixins
include ../comps/images

doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="")
			meta(name="author",content="")
			link(rel="icon",href="/static/images/favicon.ico")
			title= title
			block styles
				style
					include ../../public/stylesheets/bootstrap.min.css
	body(data-spy="scroll",data-target=".scrollspy")
		block body
			
		block scripts
			script
				include ../../public/javascripts/jquery.min.js
				include ../../public/javascripts/bootstrap.min.js