extends layouts/layout
append styles
	// Custom styles for this template
	style
		include ../public/stylesheets/carousel-old.css
block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
							
						a(class="navbar-brand", href="#") Grogan Burner Services 
							img(itemprop="logo" src="/static/images/menu/flames.png")
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href="#") Home
							li
								a(href="#gas") Gas Services
							li
								a(href="#oil") Oil Services
							li
								a(href="#repair") Boiler Repair
							li
								a(href="#contact") Contact Us
							li
								a(href="#about") About Us
							
	// Carousel
	// ==================================================
	+carousel("myCarousel",[{image:"/static/images/carousel/pic3.jpg",h1:"Winter Deals",p:"Winter is here! Our prices will keep you warm inside, while the cold keeps coming on the outside!",button:{caption:"See Gas offers",url:"#gas"}, button:{caption:"See Oil offers",url:"#oil"}}])
	//  Marketing messaging and featurettes
	//  ==================================================
	// Wrap the rest of the page in another container to center all the content.
	if message
		+alert-success(message)
	.container.marketing
		// Three columns of text below the carousel
		.row
			.col-lg-4
				img.img-circle(src='/static/images/teasers/gas.jpg', alt='Gas Hob', width='140', height='140')
				h2 Gas
				p
					| We do comprehensive gas boiler, gas burner, gas fire and gas appliance servicing. This includes cleaning out the combustion chamber (to improve efficiency) and a full safety and emissions report. Fully insured and RGI registered for safety.
				p
					a.btn.btn-default(href='#gas', role='button') View details »
			.col-lg-4
				img.img-circle(src='/static/images/teasers/oil.png', alt='Oil Barrel', width='140', height='140')
				h2 Oil
				p
					| We do a full service of oil boiler and oil burner appliances. 95% of call outs are less then an hour. Fully insured and OFTEC registered for safety.
				p
					a.btn.btn-default(href='#oil', role='button') View details »
			.col-lg-4
				img.img-circle(src='/static/images/teasers/repair.png', alt='Repair of Boiler and Burner', width='140', height='140')
				h2 Repair
				p
					| We stock a large range of parts for oil and the most most popular parts for gas. Most callouts are under an hour and fixed on the spot.
				p
					a.btn.btn-default(href='#repair', role='button') View details »
		// START THE FEATURETTES
		hr.featurette-divider
		.row.featurette
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='/static/images/featurettes/gas.jpg', alt='Gas Service')
			.col-md-7
				h2.featurette-heading(id='gas')
					| Gas Servicing. 
					span.text-muted Heat on demand. Value for money
				p.lead
					| Gas appliance service charges
				ul
					li 
						| Gas system Boiler Servicing €80
					li 
						| Gas combi or condensing boiler service €80
					li 
						| Gas Fire Servicing €65
					li 
						| Gas Boiler and Fire service together €120
				a.btn.btn-primary(href='#contact', role='button') Book Now
		hr.featurette-divider
		.row.featurette
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='/static/images/featurettes/oil.jpg', alt='Oil Service')
			.col-md-7
				h2.featurette-heading(id='oil')
					| Oil Service. 
					span.text-muted Save money and increase efficiency.
				p.lead
					| Oil fired appliance service charges
				ul
					li 
						| Oil fired Boiler Servicing €80
					li 
						| Oil combi or condensing boiler servicing €80
				a.btn.btn-primary(href='#contact', role='button') Book Now
		hr.featurette-divider
		.row.featurette
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='/static/images/featurettes/burner.jpg', alt='Oil and Gas Burner Boiler Repair')
			.col-md-7
				h2.featurette-heading(id='repair')
					| Repair. 
					span.text-muted For when the unexpected happens.
				p.lead
					| Repair charges
				ul
					li 
						| Repair call out fee is €80 (this includes first hour, most call outs require 1hr or less)
					li 
						| If parts are required this will be extra
					li
						| If a part needs to be ordered there is no extra charge for the return visit to install the part.
					li
						| We stock  a large number of oil boiler parts so 95% of repairs can be fixed at the first visit.
					li
						| We do stock some gas boiler parts but due to the large number of makes and models of gas boilers on the market it is impossible to stock all gas parts.
				a.btn.btn-primary(href='#contact', role='button') Book Now
		hr.featurette-divider
		.row.featurette
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='/static/images/featurettes/offers.jpg', alt='Summer Offers')
			.col-md-7
				h2.featurette-heading(id='summer')
					| Summer Deals.  
					span.text-muted Special offers for the holidays.
				p.lead
					| All charges reduced in summer! Prices valid for June, July and August
				p(class='lead') Oil Deals
					ul
						li 
							| Oil fired Boiler Servicing €70
						li 
							| Oil combi or condensing boiler servicing €70
				p(class='lead') Gas Deals
					ul
						li 
							| Gas Boiler Servicing €70
						li 
							| Gas combi or condensing boiler service €70
						li
							| Gas Fire Servicing €50
						li
							| Gas Boiler and Fire service together €90
				a.btn.btn-primary(href='#contact', role='button') Book Now
		hr.featurette-divider
		.row.featurette
			.col-md-4
				img.featurette-image.img-responsive.center-block(src='/static/images/featurettes/phone.jpg', alt='Phone us now')
			.col-md-8
				h2.featurette-heading(id='contact')
					| Book now. 
					span.text-muted A great experience awaits.
				p.lead
					strong Call us: 
					| 087 634 1300 or 
					strong email: 
					a(href='mailto:info@groganburners.ie') info@groganburners.ie
		hr.featurette-divider
		.row.featurette
			.col-md-4
				img.featurette-image.img-responsive.center-block(src='/static/images/featurettes/logo.png', alt='Grogan Burners Logo')
			.col-md-5
				h2.featurette-heading(id='about')
					| About us.  
					span.text-muted Over 40 years experience.
				p
					| Grogan Burners is based in Ballyda, Danesfort, Co. Kilkenny. We serve Kilkenny City and the surrounding counties in the Leinster region. Started over 40 years ago by Milo Grogan, his son Michael now runs the business, after setting up the limited company in 2007. We take pride in our service and many of our customers have been with us for years - we like to keep people loyal!
				p.lead
					| We provide:
				ul
					li Gas boiler service
					li Gas burner service
					li Gas boiler repair
					li Gas burner repair
					li Gas combi boiler service
					li Gas fire service
					li Oil boiler service
					li Oil burner service
					li Oil boiler repair
					li Oil burner repair
					li Oil combi boiler service
					li Oil condensing boiler service
				p.lead
					| Service area includes: parts of Loais, Offaly, Kilkenny, Tipperary, Carlow, Waterford.
				p
					| We also take safety as the number one priority. All of our engineers are RGI (gas) and OFTEC (oil) certified and carry work out to the highest standard.
				.col-md-3
					img(src='/static/images/cert/oftec.jpg')
					img(src='/static/images/cert/rgii.jpg')
		// /END THE FEATURETTES
		// FOOTER
		include includes/footer