extends ../layouts/admin
include ../components/modals
block body
  unless !expenses
    br
    br
    +edit-table-striped(pmodel,smodel,['Date', 'Company', 'Total'], ['date', 'company', 'total'], expenses)

    +edit-modal('New ' + smodel,'new','new')
      form#formAddBlob(name="addcustomer",method="post",action=baseurl)
        .form-group.row
          label.col-2.col-form-label(for="inputName") Name: 
          input.form-control.col-5#inputName(type="text", placeholder="Neil Grogan", name="name")
        .form-group.row
          label.col-2.col-form-label(for="inputAddressStreet") Street: 
          input.form-control.col-5#inputAddressStreet(type="text", placeholder="1 New Street", name="address[][street]")
        .form-group.row
          label.col-2.col-form-label(for="inputAddressTown") Town: 
          input.form-control.col-5#inputAddressTown(type="text", placeholder="Ballyhale", name="address[][town]")
        .form-group.row
          label.col-2.col-form-label(for="inputAddressCounty") County: 
          input.form-control.col-5#inputAddressCounty(type="text", placeholder="Kilkenny", name="address[][county]")
        .form-group.row
          label.col-2.col-form-label(for="inputAddressPostalCode") Eircode: 
          input.form-control.col-5#inputAddressPostalCode(type="text", placeholder="D01 12345", name="address[][postalCode]")
        .form-group.row
          label.col-2.col-form-label(for="inputAddressCountry") Country: 
          input.form-control.col-5#inputAddressCountry(type="text", placeholder="Ireland", name="address[][country]")
        .form-group.row
          label.col-2.col-form-label(for="inputPhone") Phone: 
          input.form-control.col-5#inputPhone(type="number", placeholder="087 123 4567", name="phone[][number]")
          input.hidden(type="submit" id='new-form-submit')

    +edit-modal('Edit ' + smodel,'edit','edit')
      form(action=baseurl,method='post',id='edit-form',name='update',enctype='application/x-www-form-urlencoded')
        .form-group.row
          label.col-sm-2.col-form-label ID:
          .col-sm-10
            input#input_id(type='text', name='_id')
        .form-group.row
          label.col-sm-2.col-form-label Name:
          .col-sm-10
            input#inputname(type='text', name='name')
        .form-group.row
          label.col-sm-2.col-form-label Street:
          .col-sm-10
            input#inputname(type='text', name='address.street')
        .form-group.row
          label.col-sm-2.col-form-label Date Created: 
          .col-sm-10
            input#inputcreatedOn(type="date", name="createdOn")
        .form-group.row
          label.col-sm-2.col-form-label Date Updated: 
          .col-sm-10
            input#inputupdatedOn(type="date", name="updatedOn", disabled)
            input(type='hidden',value='PUT',name='_method')
            input.hidden(type="submit" id='edit-form-submit')


    +view-modal('Show '+ smodel,'show')
      form
        .form-group.row
          label.col-sm-2.col-form-label ID
          .col-sm-10
            p.form-control-static(id="_id")
        .form-group.row
          label.col-sm-2.col-form-label Name
          .col-sm-10
            p.form-control-static(id="name")
        .form-group.row
          label.col-sm-2.col-form-label Address
          .col-sm-10
            p.form-control-static(id="primaryAddress")
        .form-group.row
          label.col-sm-2.col-form-label Phone
          .col-sm-10
            p.form-control-static(id="primaryPhone")
        .form-group.row
          label.col-sm-2.col-form-label Created
          .col-sm-10
            p.form-control-static(id="createdOn")
        .form-group.row
          label.col-sm-2.col-form-label Updated
          .col-sm-10
            p.form-control-static(id="updatedOn")
  else
    br
    +alert-x-danger('No customers present')