include ../components/modals
append body
  +edit-modal(title,'edit')
    h1.
      Customer Edit
    form(action='/customers/edit',method='post',name='updatecustomer',enctype='application/x-www-form-urlencoded')
      p ID:
        input#input_id(type='text', name='_id')
      p Name:
        input#inputname(type='text', name='name')
      p Street:
        input#inputname(type='text', name='address.street')
      p Date Created: 
        input#inputcreatedOn(type="date", name="createdOn")
      p Date Updated: 
        input#inputupdatedOn(type="date", name="updatedOn", disabled)
      p
        input(type='hidden',value='PUT',name='_method')
        button#btnSubmit(type='submit') Update