extends ../layouts/base
block body
  if (customers.length)
    h1.
         #{title}
    ul
        each customer, i in customers
            li
                = customer._id
                = customer.name
                = customer.address
                = customer.phone
                form(action='/customers/#{customer._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/customers/#{customer._id}/edit') Edit
                p
                    a(href='/customers/#{customer._id}') Show
  else
    br
    +alert-x-danger('No customers present')