extends ../base
block body
  if (customers.length)
    table
        thead
            tr
                th ID
                th Name
                th Address
                th Phone
        tbody
            each customer in customers
                include customer
  h1 test