extends ../layouts/admin
block body
  if (customers.length)
    h1 #{title}
    +edit-table-striped(['Name', 'Address'], ['name', 'address'], customers)
  else
    br
    +alert-x-danger('No customers present')