extends ../layouts/admin
block body
  unless !customers
    br
    br
    +edit-table-striped(['Name', 'Address'], ['name', 'primaryAddress'], customers)
    include new
    // include edit
  else
    br
    +alert-x-danger('No customers present')