extends ../layouts/admin
block body
  unless !customers
    h1 #{title}
    a.btn.btn-primary.btn-sm(href='/customers/new') 
      i.fa.fa-pencil(aria-hidden="true") 
      | &nbsp; Add Customer
    br
    br
    +edit-table-striped(['Name', 'Address'], ['name', 'primaryAddress'], customers)
  else
    br
    +alert-x-danger('No customers present')