extends ../layouts/admin
block body
  unless !customers
    br
    br
    +edit-table-striped(pmodel,smodel,['Name', 'Address'], ['name', 'primaryAddress'], customers)
    include new
    include edit
    include show
  else
    br
    +alert-x-danger('No customers present')