include ../components/modals
append body
  +view-modal('Show '+ smodel,'show')
    form
      .form-group.row
        label.col-sm-2.col-form-label ID
        .col-sm-10
          p.form-control-static(id="_id")
      .form-group.row
        label.col-sm-2.col-form-label Name
        .col-sm-10
          p.form-control-static(id="name")
      .form-group.row
        label.col-sm-2.col-form-label Address
        .col-sm-10
          p.form-control-static(id="primaryAddress")
      .form-group.row
        label.col-sm-2.col-form-label Phone
        .col-sm-10
          p.form-control-static(id="primaryPhone")
      .form-group.row
        label.col-sm-2.col-form-label Created
        .col-sm-10
          p.form-control-static(id="createdOn")
      .form-group.row
        label.col-sm-2.col-form-label Updated
        .col-sm-10
          p.form-control-static(id="updatedOn")
